In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import janitor
import numpy as np

int_data = pd.read_csv("../clean_data/int_data")
demo = pd.read_csv("../clean_data/tourism_day_visits_demographics.csv")

In [4]:
demo.shape

(308, 12)

In [5]:
demo.describe()

         date_code        value
count   308.000000   308.000000
mean   2016.000000   933.685065
std       2.003255  1306.514196
min    2013.000000    11.000000
25%    2014.000000    33.500000
50%    2016.000000   191.500000
75%    2018.000000  1346.750000
max    2019.000000  5995.000000

In [6]:
demo.head()

,date_code,units,value,breakdown_of_domestic_tourism,age,marital_status,gender,employment_status,children,access_to_car,social_grade,demo
0,2013,Million Visits,22,Visits,45-54 years,All,All,All,All,All,All,45-54 years
1,2013,Million Visits,58,Visits,All,All,Male,All,All,All,All,Male
2,2016,Million Visits,23,Visits,25-34 years,All,All,All,All,All,All,25-34 years
3,2019,Million Visits,56,Visits,All,Not Married,All,All,All,All,All,Not Married
4,2015,Million Visits,52,Visits,All,Not Married,All,All,All,All,All,Not Married

In [7]:
demo = demo[demo["breakdown_of_domestic_tourism"].str.contains("Expenditure")]
demo

,date_code,units,value,breakdown_of_domestic_tourism,age,marital_status,gender,employment_status,children,access_to_car,social_grade,demo
36,2019,million pounds (GBP),1228,Expenditure,All,All,All,All,All,All,C2,Social Grade - C2
37,2016,million pounds (GBP),729,Expenditure,All,All,All,All,All,All,DE,Social Grade - DE
38,2015,million pounds (GBP),1484,Expenditure,All,All,All,All,All,All,AB,Social Grade - AB
39,2018,million pounds (GBP),637,Expenditure,35-44 years,All,All,All,All,All,All,35-44 years
40,2017,million pounds (GBP),2033,Expenditure,All,All,All,All,All,All,AB,Social Grade - AB
...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,million pounds (GBP),255,Expenditure,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
297,2017,million pounds (GBP),450,Expenditure,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
298,2015,million pounds (GBP),483,Expenditure,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
301,2018,million pounds (GBP),396,Expenditure,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
303,2019,million pounds (GBP),715,Expenditure,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working

In [8]:


demo_dummies = pd.get_dummies(demo, drop_first=True) # mae dummies for our categoric
demo_dummies

,date_code,value,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
36,2019,1228,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37,2016,729,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
38,2015,1484,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
39,2018,637,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,2033,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,255,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
297,2017,450,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
298,2015,483,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
301,2018,396,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
303,2019,715,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
# create our response array (univariate series)
response_var = demo_dummies["value"] # take out our response variable

# put our predictors in a dataframe
predictor_vars = demo_dummies.drop(columns = "value") # take response variable out of our df

In [10]:
predictor_vars

,date_code,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,gender_Female,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
36,2019,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
37,2016,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
38,2015,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
39,2018,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
297,2017,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
298,2015,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
301,2018,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
303,2019,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
model = LinearRegression()

In [12]:
model.fit(predictor_vars, response_var)

LinearRegression()

In [13]:
model.score(predictor_vars, response_var)

0.9511471880463549

In [14]:
pd.DataFrame(
  {
  "Variable" : predictor_vars.columns.values,
  "Coefficient" : model.coef_
  }
)

                                             Variable   Coefficient
0                                           date_code  7.807792e+01
1                                     age_25-34 years -1.199669e+14
2                                     age_35-44 years -4.396809e+13
3                                     age_45-54 years  5.552007e+14
4                                     age_55-64 years -3.052588e+14
5                               age_65 years and over  1.138741e+15
6                                             age_All -1.399979e+15
7                              marital_status_Married  1.789392e+15
8                          marital_status_Not Married  8.901055e+14
9                                       gender_Female  1.430822e+15
10                                        gender_Male  1.349380e+15
11  employment_status_Employed/self-employed (full...  6.564588e+14
12   employment_status_In full or part time education  1.684731e+15
13           employment_status_Unemployed/not working -7.891665e+14
14                             children_No - Children  4.675794e+14
15                            children_Yes - Children  9.740314e+14
16                                  access_to_car_All -2.521927e+15
17                 access_to_car_No access to car (0) -9.551421e+14
18                                   social_grade_All  8.193843e+14
19                                    social_grade_C1  1.519558e+15
20                                    social_grade_C2  4.532270e+14
21                                    social_grade_DE  9.035580e+14
22                                   demo_25-34 years  1.199669e+14
23                                   demo_35-44 years  4.396809e+13
24                                   demo_45-54 years -5.552007e+14
25                                   demo_55-64 years  3.052588e+14
26                             demo_65 years and over -1.138741e+15
27                            demo_Access to car (1+) -1.121948e+15
28                                           demo_All  1.399979e+15
29    demo_Employed/self-employed (full or part time)  7.435200e+14
30                                        demo_Female -3.084359e+13
31                demo_In full or part time education -2.847520e+14
32                                          demo_Male  5.059927e+13
33                                       demo_Married -3.894131e+14
34                                 demo_No - Children  9.323994e+14
35                          demo_No access to car (0) -1.668059e+14
36                                   demo_Not Married  5.098733e+14
37                             demo_Social Grade - AB  2.219363e+15
38                             demo_Social Grade - C1  6.998048e+14
39                             demo_Social Grade - C2  1.766136e+15
40                             demo_Social Grade - DE  1.315805e+15
41                        demo_Unemployed/not working  2.189145e+15
42                                demo_Yes - Children  4.259474e+14

In [15]:
import statsmodels.api as sm

# add in the constant to the data
predictor_vars = sm.add_constant(predictor_vars)
predictor_vars.head()

,const,date_code,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
36,1.0,2019,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37,1.0,2016,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
38,1.0,2015,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
39,1.0,2018,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,1.0,2017,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [16]:
sm_model = sm.OLS(response_var, predictor_vars).fit()
print(sm_model.summary()) # lets see our model summary

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.943
Method:                 Least Squares   F-statistic:                     115.9
Date:                Thu, 06 Oct 2022   Prob (F-statistic):           7.23e-75
Time:                        14:02:42   Log-Likelihood:                -1096.5
No. Observations:                 154   AIC:                             2239.
Df Residuals:                     131   BIC:                             2309.
Df Model:                          22
Covariance Type:            nonrobust
================================================================================================================================
                                                                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------
const                                                        -8.228e+04   1.38e+04     -5.955      0.000    -1.1e+05   -5.49e+04
date_code                                                       78.0779     13.069      5.974      0.000      52.225     103.931
age_25-34 years                                                170.0714     86.687      1.962      0.052      -1.417     341.560
age_35-44 years                                                 65.7143     86.687      0.758      0.450    -105.774     237.203
age_45-54 years                                                 51.5714     86.687      0.595      0.553    -119.917     223.060
age_55-64 years                                                 41.0714     86.687      0.474      0.636    -130.417     212.560
age_65 years and over                                          -10.5000     86.687     -0.121      0.904    -181.988     160.988
age_All                                                      -1.221e+04   2326.173     -5.249      0.000   -1.68e+04   -7609.427
marital_status_Married                                        7442.0758   1163.554      6.396      0.000    5140.289    9743.863
marital_status_Not Married                                    6577.4329   1163.554      5.653      0.000    4275.646    8879.220
gender_Female                                                 7015.9329   1163.554      6.030      0.000    4714.146    9317.720
gender_Male                                                   7003.5758   1163.554      6.019      0.000    4701.789    9305.363
employment_status_Employed/self-employed (full or part time)  7379.0044   1163.554      6.342      0.000    5077.217    9680.792
employment_status_In full or part time education              5922.8615   1163.554      5.090      0.000    3621.074    8224.649
employment_status_Unemployed/not working                      6037.7186   1163.554      5.189      0.000    3735.931    8339.506
children_No - Children                                        7407.4329   1163.554      6.366      0.000    5105.646    9709.220
children_Yes - Children                                       6612.0758   1163.554      5.683      0.000    4310.289    8913.863
access_to_car_All                                            -4.169e+04   6921.495     -6.023      0.000   -5.54e+04    -2.8e+04
access_to_car_No access to car (0)                           -1.474e+04   2299.352     -6.413      0.000   -1.93e+04   -1.02e+04
social_grade_All                                             -3.269e+04   5607.980     -5.829      0.000   -4.38e+04   -2.16e+04
social_grade_C1                                              -9865.4207   1642.908     -6.005      0.000   -1.31e+04   -6615.357
social_grade_C2                                              -1.011e+04   1642.908     -6.157      0.000   -1.34e+04   -6864.571
social_grade_DE                                              -1.022e+04   1642.908     -6.222      0.000   -1.35e+04   -6972.500
demo_25-34 years                                               170.0714     86.687      1.962      0.052      -1.417     341.560
demo_35-44 years                                                65.7143     86.687      0.758      0.450    -105.774     237.203
demo_45-54 years                                                51.5714     86.687      0.595      0.553    -119.917     223.060
demo_55-64 years                                                41.0714     86.687      0.474      0.636    -130.417     212.560
demo_65 years and over                                         -10.5000     86.687     -0.121      0.904    -181.988     160.988
demo_Access to car (1+)                                      -2.585e+04   4598.112     -5.621      0.000   -3.49e+04   -1.68e+04
demo_All                                                      1.657e+04   2326.742      7.123      0.000     1.2e+04    2.12e+04
demo_Employed/self-employed (full or part time)               7379.0044   1163.554      6.342      0.000    5077.217    9680.792
demo_Female                                                   7015.9329   1163.554      6.030      0.000    4714.146    9317.720
demo_In full or part time education                           5922.8615   1163.554      5.090      0.000    3621.074    8224.649
demo_Male                                                     7003.5758   1163.554      6.019      0.000    4701.789    9305.363
demo_Married                                                  7442.0758   1163.554      6.396      0.000    5140.289    9743.863
demo_No - Children                                            7407.4329   1163.554      6.366      0.000    5105.646    9709.220
demo_No access to car (0)                                    -1.474e+04   2299.352     -6.413      0.000   -1.93e+04   -1.02e+04
demo_Not Married                                              6577.4329   1163.554      5.653      0.000    4275.646    8879.220
demo_Social Grade - AB                                       -1.939e+04   3285.206     -5.901      0.000   -2.59e+04   -1.29e+04
demo_Social Grade - C1                                       -9865.4207   1642.908     -6.005      0.000   -1.31e+04   -6615.357
demo_Social Grade - C2                                       -1.011e+04   1642.908     -6.157      0.000   -1.34e+04   -6864.571
demo_Social Grade - DE                                       -1.022e+04   1642.908     -6.222      0.000   -1.35e+04   -6972.500
demo_Unemployed/not working                                   6037.7186   1163.554      5.189      0.000    3735.931    8339.506
demo_Yes - Children                                           6612.0758   1163.554      5.683      0.000    4310.289    8913.863
==============================================================================
Omnibus:                       19.236   Durbin-Watson:                   1.897
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               85.137
Skew:                          -0.089   Prob(JB):                     3.26e-19
Kurtosis:                       6.638   Cond. No.                     2.57e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.49e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# Auto

In [17]:
demo_dummies

,date_code,value,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
36,2019,1228,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37,2016,729,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
38,2015,1484,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
39,2018,637,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,2033,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,255,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
297,2017,450,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
298,2015,483,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
301,2018,396,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
303,2019,715,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [18]:
demo_dummies.head()

,date_code,value,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
36,2019,1228,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37,2016,729,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
38,2015,1484,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
39,2018,637,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,2017,2033,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [19]:
X = demo_dummies.drop("value", axis = 1)
y = demo_dummies["value"]

X.shape, y.shape

((154, 43), (154,))

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.15
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((130, 43), (24, 43), (130,), (24,))

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

pipe_linreg = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [22]:
y_train_predict = pipe_linreg.predict(X_train)
y_test_predict = pipe_linreg.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 204.87362247684902
MAE test 249.97233919431076

In [23]:
from sklearn.preprocessing import PolynomialFeatures

pipe_linreg_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 2, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg_poly.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [24]:
y_train_predict = pipe_linreg_poly.predict(X_train)
y_test_predict = pipe_linreg_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 209.17345618780192
MAE test 276.73183831706245

In [25]:
from sklearn.linear_model import LassoLarsCV

pipe_lasso_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 3, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LassoLarsCV(max_iter=1000))
])

pipe_lasso_poly.fit(X_train, y_train)

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLarsCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=2.497e+01, with an active set of 7 regressors, and the smallest cholesky pivot element being 5.771e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=2.372e+01, with an active set of 8 regressors, and the smallest cholesky pivot element being 5.771e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=2.372e+01, with an active set of 8 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=2.372e+01, with an active set of 8 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.395e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.395e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 14 iterations, i.e. alpha=1.248e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 5.960e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 14 iterations, i.e. alpha=1.248e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 4.470e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 17 iterations, i.e. alpha=1.186e+01, with an active set of 13 regressors, and the smallest cholesky pivot element being 4.470e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 18 iterations, i.e. alpha=1.186e+01, with an active set of 14 regressors, and the smallest cholesky pivot element being 6.234e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 18 iterations, i.e. alpha=1.186e+01, with an active set of 14 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 18 iterations, i.e. alpha=1.186e+01, with an active set of 14 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 20 iterations, alpha=1.185e+01, previous alpha=1.185e+01, with an active set of 15 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 5 iterations, i.e. alpha=2.700e+01, with an active set of 5 regressors, and the smallest cholesky pivot element being 4.712e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=2.391e+01, with an active set of 9 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.961e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 7.376e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.961e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.961e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.961e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 4.712e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.961e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 5.162e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.550e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 8.878e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=1.550e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 8.752e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 16 iterations, i.e. alpha=1.489e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 17 iterations, i.e. alpha=1.489e+01, with an active set of 13 regressors, and the smallest cholesky pivot element being 9.884e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 18 iterations, alpha=1.489e+01, previous alpha=1.489e+01, with an active set of 13 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=2.470e+01, with an active set of 8 regressors, and the smallest cholesky pivot element being 3.650e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=2.225e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=2.225e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 7.146e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=1.835e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=1.835e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 15 iterations, i.e. alpha=1.282e+01, with an active set of 13 regressors, and the smallest cholesky pivot element being 4.215e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 47 iterations, i.e. alpha=1.198e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 5.576e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 48 iterations, i.e. alpha=1.112e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 3.650e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 54 iterations, i.e. alpha=9.176e+00, with an active set of 14 regressors, and the smallest cholesky pivot element being 9.657e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 54 iterations, i.e. alpha=9.176e+00, with an active set of 14 regressors, and the smallest cholesky pivot element being 3.650e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 54 iterations, i.e. alpha=9.176e+00, with an active set of 14 regressors, and the smallest cholesky pivot element being 9.541e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 56 iterations, i.e. alpha=9.132e+00, with an active set of 16 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 57 iterations, i.e. alpha=9.132e+00, with an active set of 17 regressors, and the smallest cholesky pivot element being 6.989e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 58 iterations, i.e. alpha=9.132e+00, with an active set of 18 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 59 iterations, i.e. alpha=9.132e+00, with an active set of 19 regressors, and the smallest cholesky pivot element being 6.989e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 60 iterations, i.e. alpha=9.132e+00, with an active set of 20 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 61 iterations, i.e. alpha=9.132e+00, with an active set of 21 regressors, and the smallest cholesky pivot element being 6.989e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 62 iterations, i.e. alpha=9.132e+00, with an active set of 22 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 63 iterations, i.e. alpha=9.132e+00, with an active set of 23 regressors, and the smallest cholesky pivot element being 6.989e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 64 iterations, i.e. alpha=9.132e+00, with an active set of 24 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 65 iterations, i.e. alpha=9.132e+00, with an active set of 25 regressors, and the smallest cholesky pivot element being 6.989e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 66 iterations, i.e. alpha=9.132e+00, with an active set of 26 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 68 iterations, alpha=9.132e+00, previous alpha=9.132e+00, with an active set of 27 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 6 iterations, i.e. alpha=2.939e+01, with an active set of 6 regressors, and the smallest cholesky pivot element being 4.215e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=2.610e+01, with an active set of 7 regressors, and the smallest cholesky pivot element being 7.224e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.399e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=1.399e+01, with an active set of 10 regressors, and the smallest cholesky pivot element being 4.081e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 16 iterations, i.e. alpha=1.370e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 6.989e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 16 iterations, i.e. alpha=1.370e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 17 iterations, alpha=1.370e+01, previous alpha=1.370e+01, with an active set of 12 regressors.
  warnings.warn(

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.408e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 5.373e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.408e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 5.162e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.408e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.408e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 5.771e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=1.408e+01, with an active set of 11 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=1.407e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 8.816e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=1.407e+01, with an active set of 12 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 21 iterations, i.e. alpha=7.041e+00, with an active set of 15 regressors, and the smallest cholesky pivot element being 9.064e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=7.040e+00, with an active set of 16 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=7.040e+00, with an active set of 16 regressors, and the smallest cholesky pivot element being 5.162e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=7.040e+00, with an active set of 16 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=7.040e+00, with an active set of 16 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=7.040e+00, with an active set of 16 regressors, and the smallest cholesky pivot element being 5.960e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 23 iterations, alpha=7.040e+00, previous alpha=7.040e+00, with an active set of 16 regressors.
  warnings.warn(

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(degree=3, include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LassoLarsCV(max_iter=1000))])

In [26]:
y_train_predict = pipe_lasso_poly.predict(X_train)
y_test_predict = pipe_lasso_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 473.82609198970584
MAE test 561.8709838485455

In [27]:
len(pipe_lasso_poly.named_steps.regressor.coef_)

15179

In [28]:
sum(pipe_lasso_poly.named_steps.regressor.coef_ != 0)

11

In [29]:
poly_feature_names = (
    pipe_lasso_poly
    .named_steps.poly
    .get_feature_names_out(X_train.columns)
)
[poly_feature_names[i] for i in pipe_lasso_poly.named_steps.regressor.active_]

['date_code age_All social_grade_All',
 'date_code^2 demo_All',
 'date_code^2 demo_Access to car (1+)',
 'employment_status_In full or part time education',
 'age_All access_to_car_All social_grade_All',
 'date_code^2 children_No - Children',
 'date_code^2 age_All',
 'date_code^2 marital_status_Married',
 'date_code^2 employment_status_Employed/self-employed (full or part time)',
 'date_code^2 employment_status_Unemployed/not working',
 'date_code^3']

In [30]:
from sklearn.metrics import mean_squared_error,r2_score

y_pred = pipe_lasso_poly.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

# this is our RMSE

672.2123900767481

In [31]:
r2_score(y_test, y_pred)

0.7430830449261063