In [80]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import janitor
import numpy as np

int_data = pd.read_csv("../clean_data/int_data")

In [57]:
int_data.shape

(32082, 11)

In [58]:
int_data.describe()

               year   visits_000s   nights_000s       spend_m        sample
count  32082.000000  32082.000000  32082.000000  32082.000000  32082.000000
mean    2010.567047      1.439614     12.058341      0.877979      1.542516
std        5.002871      1.864941     29.706387      2.221832      1.433680
min     2002.000000      0.000088      0.001000      0.000000      1.000000
25%     2006.000000      0.430000      1.862780      0.105796      1.000000
50%     2011.000000      0.850000      4.620000      0.299705      1.000000
75%     2015.000000      1.707504     11.510000      0.828587      2.000000
max     2019.000000     69.044917   1284.176343     68.852170     25.000000

In [59]:
int_data.head()

,year,quarter,country,purpose,mode,duration,age,visits_000s,nights_000s,spend_m,sample
0,2002,Quarter 1,USA,Holiday,Air,4-7 nights,0-15,0.27,1.60,0.16,1
1,2002,Quarter 1,USA,Holiday,Air,4-7 nights,16-24,1.08,4.62,0.25,4
2,2002,Quarter 1,USA,Holiday,Air,4-7 nights,25-34,0.99,5.03,0.81,3
3,2002,Quarter 1,USA,Holiday,Air,4-7 nights,45-54,0.35,1.80,0.08,1
4,2002,Quarter 1,USA,Holiday,Air,4-7 nights,65+,1.66,10.09,0.62,1

In [60]:


int_data_dummies = pd.get_dummies(int_data, drop_first=True) # mae dummies for our categoric
int_data

,year,quarter,country,purpose,mode,duration,age,visits_000s,nights_000s,spend_m,sample
0,2002,Quarter 1,USA,Holiday,Air,4-7 nights,0-15,0.270000,1.600000,0.160000,1
1,2002,Quarter 1,USA,Holiday,Air,4-7 nights,16-24,1.080000,4.620000,0.250000,4
2,2002,Quarter 1,USA,Holiday,Air,4-7 nights,25-34,0.990000,5.030000,0.810000,3
3,2002,Quarter 1,USA,Holiday,Air,4-7 nights,45-54,0.350000,1.800000,0.080000,1
4,2002,Quarter 1,USA,Holiday,Air,4-7 nights,65+,1.660000,10.090000,0.620000,1
...,...,...,...,...,...,...,...,...,...,...,...
32077,2019,Quarter 4,Argentina,Holiday,Air,15+ nights,65+,1.575168,14.176511,0.897375,1
32078,2019,Quarter 4,Argentina,Other,Air,8-14 nights,25-34,0.631421,3.157103,0.228890,1
32079,2019,Quarter 4,Rest of Latin America,Holiday,Air,8-14 nights,25-34,2.243179,11.633949,0.877631,1
32080,2019,Quarter 4,Rest of Latin America,Holiday,Air,8-14 nights,45-54,0.550858,1.714171,0.135526,1
32081,2019,Quarter 4,Rest of Latin America,Holiday,Air,15+ nights,35-44,0.553057,1.147342,0.103797,1

In [61]:
# create our response array (univariate series)
response_var = int_data_dummies["visits_000s"] # take out our response variable

# put our predictors in a dataframe
predictor_vars = int_data_dummies.drop(columns = "visits_000s") # take response variable out of our df

In [62]:
predictor_vars

,year,nights_000s,spend_m,sample,quarter_Quarter 2,quarter_Quarter 3,quarter_Quarter 4,country_Australia,country_Austria,country_Belgium,...,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,age_Not Known
0,2002,1.600000,0.160000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2002,4.620000,0.250000,4,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2,2002,5.030000,0.810000,3,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,2002,1.800000,0.080000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,2002,10.090000,0.620000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32077,2019,14.176511,0.897375,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
32078,2019,3.157103,0.228890,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
32079,2019,11.633949,0.877631,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
32080,2019,1.714171,0.135526,1,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
32081,2019,1.147342,0.103797,1,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [63]:
model = LinearRegression()

In [64]:
model.fit(predictor_vars, response_var)

LinearRegression()

In [65]:
model.score(predictor_vars, response_var)

0.5680964150235026

In [66]:
pd.DataFrame(
  {
  "Variable" : predictor_vars.columns.values,
  "Coefficient" : model.coef_
  }
)

             Variable  Coefficient
0                year     0.027032
1         nights_000s     0.010657
2             spend_m     0.315122
3              sample     0.449361
4   quarter_Quarter 2     0.079525
..                ...          ...
83          age_35-44    -0.040741
84          age_45-54    -0.108150
85          age_55-64    -0.167203
86            age_65+    -0.218905
87      age_Not Known     0.003453

[88 rows x 2 columns]

In [67]:
import statsmodels.api as sm

# add in the constant to the data
predictor_vars = sm.add_constant(predictor_vars)
predictor_vars.head()

,const,year,nights_000s,spend_m,sample,quarter_Quarter 2,quarter_Quarter 3,quarter_Quarter 4,country_Australia,country_Austria,...,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,age_Not Known
0,1.0,2002,1.60,0.16,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1.0,2002,4.62,0.25,4,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2,1.0,2002,5.03,0.81,3,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,1.0,2002,1.80,0.08,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,1.0,2002,10.09,0.62,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [68]:
sm_model = sm.OLS(response_var, predictor_vars).fit()
print(sm_model.summary()) # lets see our model summary

                            OLS Regression Results
==============================================================================
Dep. Variable:            visits_000s   R-squared:                       0.568
Model:                            OLS   Adj. R-squared:                  0.567
Method:                 Least Squares   F-statistic:                     478.2
Date:                Thu, 06 Oct 2022   Prob (F-statistic):               0.00
Time:                        11:05:52   Log-Likelihood:                -52049.
No. Observations:               32082   AIC:                         1.043e+05
Df Residuals:                   31993   BIC:                         1.050e+05
Df Model:                          88
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                             -53.6471      2.859    -18.764      0.000     -59.251     -48.043
year                                0.0270      0.001     19.039      0.000       0.024       0.030
nights_000s                         0.0107      0.000     35.213      0.000       0.010       0.011
spend_m                             0.3151      0.004     77.403      0.000       0.307       0.323
sample                              0.4494      0.006     80.485      0.000       0.438       0.460
quarter_Quarter 2                   0.0795      0.022      3.667      0.000       0.037       0.122
quarter_Quarter 3                   0.1299      0.021      6.245      0.000       0.089       0.171
quarter_Quarter 4                   0.0323      0.023      1.421      0.155      -0.012       0.077
country_Australia                  -0.4802      0.123     -3.908      0.000      -0.721      -0.239
country_Austria                    -0.1488      0.136     -1.093      0.274      -0.415       0.118
country_Belgium                    -0.1780      0.128     -1.393      0.164      -0.429       0.072
country_Brazil                     -0.1509      0.147     -1.030      0.303      -0.438       0.136
country_Bulgaria                   -0.0689      0.203     -0.339      0.735      -0.467       0.329
country_C'wealth Caribbean         -0.2413      0.167     -1.441      0.150      -0.569       0.087
country_Canada                     -0.3867      0.123     -3.138      0.002      -0.628      -0.145
country_China                       0.2490      0.132      1.880      0.060      -0.011       0.509
country_Czech Republic              0.2952      0.145      2.043      0.041       0.012       0.579
country_Denmark                     0.3294      0.133      2.474      0.013       0.068       0.590
country_Egypt                      -0.3557      0.188     -1.892      0.058      -0.724       0.013
country_Finland                    -0.1259      0.147     -0.858      0.391      -0.414       0.162
country_Former Yugoslavia          -0.0568      0.171     -0.332      0.740      -0.392       0.278
country_France                      0.3306      0.124      2.674      0.007       0.088       0.573
country_Germany                     0.0490      0.123      0.400      0.689      -0.191       0.289
country_Gibraltar/Malta/Cyprus     -0.3020      0.148     -2.039      0.041      -0.592      -0.012
country_Greece                     -0.0656      0.151     -0.435      0.663      -0.361       0.230
country_Hong Kong                  -0.3170      0.135     -2.345      0.019      -0.582      -0.052
country_Hungary                     0.0482      0.152      0.316      0.752      -0.250       0.347
country_Iceland                    -0.5434      0.141     -3.862      0.000      -0.819      -0.268
country_India                      -0.3815      0.129     -2.953      0.003      -0.635      -0.128
country_Irish Republic              0.4178      0.126      3.323      0.001       0.171       0.664
country_Israel                     -0.2216      0.155     -1.428      0.153      -0.526       0.082
country_Italy                       0.7852      0.127      6.183      0.000       0.536       1.034
country_Japan                      -0.2668      0.134     -1.989      0.047      -0.530      -0.004
country_Kenya                      -0.3746      0.207     -1.809      0.070      -0.780       0.031
country_Kuwait                     -0.4786      0.173     -2.759      0.006      -0.819      -0.139
country_Luxembourg                 -0.1512      0.184     -0.819      0.413      -0.513       0.210
country_Malaysia                   -0.3738      0.139     -2.681      0.007      -0.647      -0.100
country_Mexico                     -0.1326      0.172     -0.771      0.441      -0.470       0.205
country_Namibia                    -0.5936      0.515     -1.152      0.249      -1.604       0.416
country_Netherlands                -0.2441      0.124     -1.972      0.049      -0.487      -0.001
country_New Zealand                -0.3358      0.129     -2.598      0.009      -0.589      -0.082
country_Nigeria                    -0.3565      0.158     -2.253      0.024      -0.667      -0.046
country_Non CW C&S America         -0.1961      0.427     -0.460      0.646      -1.032       0.640
country_Norway                      0.1240      0.128      0.966      0.334      -0.128       0.376
country_Oth.E C'wealth Africa      -0.3885      0.174     -2.237      0.025      -0.729      -0.048
country_Oth.Non C'Wealth Africa    -0.2835      0.196     -1.447      0.148      -0.668       0.101
country_Oth.W C'wealth Africa      -0.2297      0.273     -0.840      0.401      -0.766       0.306
country_Other E.Europe              0.1095      0.136      0.808      0.419      -0.156       0.375
country_Other Gulf States          -0.4495      0.146     -3.081      0.002      -0.735      -0.164
country_Other Middle East          -0.4817      0.178     -2.704      0.007      -0.831      -0.133
country_Other North Africa         -0.3789      0.224     -1.689      0.091      -0.819       0.061
country_Pakistan                   -0.2634      0.151     -1.743      0.081      -0.560       0.033
country_Poland                      0.5267      0.129      4.084      0.000       0.274       0.780
country_Portugal                   -0.1427      0.149     -0.958      0.338      -0.434       0.149
country_Rest of Asia               -0.3271      0.188     -1.739      0.082      -0.696       0.041
country_Rest of Latin America      -0.2692      0.161     -1.668      0.095      -0.585       0.047
country_Rest of SE Asia            -0.4222      0.141     -2.990      0.003      -0.699      -0.145
country_Romania                     0.0447      0.156      0.287      0.774      -0.261       0.350
country_Russia                     -0.1655      0.140     -1.179      0.239      -0.441       0.110
country_Saudi Arabia               -0.5098      0.155     -3.287      0.001      -0.814      -0.206
country_Singapore                  -0.4652      0.139     -3.356      0.001      -0.737      -0.194
country_South Africa               -0.4051      0.130     -3.123      0.002      -0.659      -0.151
country_South Korea                -0.2615      0.159     -1.649      0.099      -0.572       0.049
country_Spain                       0.3536      0.125      2.819      0.005       0.108       0.599
country_Sweden                      0.0418      0.129      0.325      0.745      -0.210       0.294
country_Switzerland                -0.0153      0.129     -0.118      0.906      -0.268       0.237
country_Taiwan                     -0.2066      0.154     -1.337      0.181      -0.509       0.096
country_Thailand                   -0.2378      0.148     -1.606      0.108      -0.528       0.052
country_Turkey                      0.4741      0.164      2.897      0.004       0.153       0.795
country_USA                        -0.1506      0.122     -1.234      0.217      -0.390       0.089
country_United Arab Emirates       -0.5716      0.130     -4.407      0.000      -0.826      -0.317
country_Venezuela                  -0.3691      0.374     -0.986      0.324      -1.103       0.364
country_Zimbabwe                   -0.1507      0.262     -0.576      0.564      -0.663       0.362
purpose_Holiday                     0.2761      0.021     13.316      0.000       0.235       0.317
purpose_Other                      -0.1708      0.036     -4.749      0.000      -0.241      -0.100
purpose_Study                      -0.7180      0.063    -11.399      0.000      -0.842      -0.595
purpose_VFR                         0.1801      0.022      8.353      0.000       0.138       0.222
mode_Sea                           -0.5573      0.023    -23.763      0.000      -0.603      -0.511
mode_Tunnel                         0.1362      0.041      3.349      0.001       0.056       0.216
duration_15+ nights                -0.7558      0.025    -29.957      0.000      -0.805      -0.706
duration_4-7 nights                -0.2508      0.021    -11.912      0.000      -0.292      -0.210
duration_8-14 nights               -0.4595      0.023    -19.980      0.000      -0.505      -0.414
age_16-24                          -0.0216      0.040     -0.547      0.585      -0.099       0.056
age_25-34                           0.0613      0.037      1.642      0.101      -0.012       0.134
age_35-44                          -0.0407      0.038     -1.086      0.278      -0.114       0.033
age_45-54                          -0.1082      0.037     -2.894      0.004      -0.181      -0.035
age_55-64                          -0.1672      0.038     -4.361      0.000      -0.242      -0.092
age_65+                            -0.2189      0.041     -5.285      0.000      -0.300      -0.138
age_Not Known                       0.0035      0.217      0.016      0.987      -0.421       0.428
==============================================================================
Omnibus:                    33699.524   Durbin-Watson:                   1.708
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         37298330.862
Skew:                           4.308   Prob(JB):                         0.00
Kurtosis:                     169.817   Cond. No.                     8.39e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.39e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

# Auto

In [71]:
int_data_dummies.head()

,year,visits_000s,nights_000s,spend_m,sample,quarter_Quarter 2,quarter_Quarter 3,quarter_Quarter 4,country_Australia,country_Austria,...,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,age_Not Known
0,2002,0.27,1.60,0.16,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2002,1.08,4.62,0.25,4,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2,2002,0.99,5.03,0.81,3,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,2002,0.35,1.80,0.08,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,2002,1.66,10.09,0.62,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [74]:
X = int_data_dummies.drop("visits_000s", axis = 1)
y = int_data_dummies["visits_000s"]

X.shape, y.shape

((32082, 88), (32082,))

In [76]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.3
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((22457, 88), (9625, 88), (22457,), (9625,))

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

pipe_linreg = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [82]:
y_train_predict = pipe_linreg.predict(X_train)
y_test_predict = pipe_linreg.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 0.707471547094971
MAE test 0.7220457582973061

In [84]:
from sklearn.preprocessing import PolynomialFeatures

pipe_linreg_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 2, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg_poly.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [85]:
y_train_predict = pipe_linreg_poly.predict(X_train)
y_test_predict = pipe_linreg_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 0.3713626672025739
MAE test 224973278606.82004

In [86]:
from sklearn.linear_model import LassoLarsCV

pipe_lasso_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 2, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LassoLarsCV(max_iter=100))
])

pipe_lasso_poly.fit(X_train, y_train)

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLarsCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 20 iterations, i.e. alpha=5.712e-04, with an active set of 20 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 24 iterations, i.e. alpha=5.209e-04, with an active set of 24 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 24 iterations, i.e. alpha=5.209e-04, with an active set of 24 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 25 iterations, alpha=5.206e-04, previous alpha=5.205e-04, with an active set of 24 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=5.382e-04, with an active set of 20 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=4.792e-04, with an active set of 23 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=4.792e-04, with an active set of 23 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=4.792e-04, with an active set of 23 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 45 iterations, i.e. alpha=2.969e-04, with an active set of 41 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 63 iterations, i.e. alpha=2.396e-04, with an active set of 57 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 63 iterations, i.e. alpha=2.396e-04, with an active set of 57 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 63 iterations, i.e. alpha=2.396e-04, with an active set of 57 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 69 iterations, i.e. alpha=2.310e-04, with an active set of 63 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 75 iterations, i.e. alpha=2.102e-04, with an active set of 69 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 76 iterations, i.e. alpha=2.101e-04, with an active set of 70 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 77 iterations, alpha=2.102e-04, previous alpha=2.101e-04, with an active set of 70 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 15 iterations, i.e. alpha=8.887e-04, with an active set of 13 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 37 iterations, i.e. alpha=3.143e-04, with an active set of 35 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 49 iterations, i.e. alpha=2.657e-04, with an active set of 45 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 49 iterations, i.e. alpha=2.657e-04, with an active set of 45 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 55 iterations, i.e. alpha=2.509e-04, with an active set of 49 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 56 iterations, i.e. alpha=2.509e-04, with an active set of 50 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 57 iterations, alpha=2.509e-04, previous alpha=2.507e-04, with an active set of 50 regressors.
  warnings.warn(

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 36 iterations, i.e. alpha=4.029e-04, with an active set of 32 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 49 iterations, i.e. alpha=2.883e-04, with an active set of 41 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 59 iterations, i.e. alpha=2.472e-04, with an active set of 51 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 66 iterations, i.e. alpha=2.349e-04, with an active set of 58 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 66 iterations, i.e. alpha=2.349e-04, with an active set of 58 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 72 iterations, i.e. alpha=2.205e-04, with an active set of 64 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 24 iterations, i.e. alpha=5.371e-04, with an active set of 22 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 47 iterations, i.e. alpha=2.782e-04, with an active set of 45 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 47 iterations, i.e. alpha=2.782e-04, with an active set of 45 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 47 iterations, i.e. alpha=2.782e-04, with an active set of 45 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 70 iterations, i.e. alpha=2.273e-04, with an active set of 64 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 70 iterations, i.e. alpha=2.273e-04, with an active set of 64 regressors, and the smallest cholesky pivot element being 1.054e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 83 iterations, i.e. alpha=1.960e-04, with an active set of 77 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 86 iterations, i.e. alpha=1.935e-04, with an active set of 78 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 87 iterations, i.e. alpha=1.934e-04, with an active set of 79 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 88 iterations, alpha=1.933e-04, previous alpha=1.932e-04, with an active set of 79 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 14 iterations, i.e. alpha=8.053e-04, with an active set of 12 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 22 iterations, i.e. alpha=5.105e-04, with an active set of 20 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 24 iterations, i.e. alpha=4.620e-04, with an active set of 22 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 37 iterations, i.e. alpha=3.428e-04, with an active set of 31 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 40 iterations, alpha=3.426e-04, previous alpha=3.425e-04, with an active set of 31 regressors.
  warnings.warn(

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LassoLarsCV(max_iter=100))])

In [87]:
y_train_predict = pipe_lasso_poly.predict(X_train)
y_test_predict = pipe_lasso_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 0.533792107755532
MAE test 0.549569836502192

In [88]:
len(pipe_lasso_poly.named_steps.regressor.coef_)

4004

In [89]:
sum(pipe_lasso_poly.named_steps.regressor.coef_ != 0)

31

In [90]:
poly_feature_names = (
    pipe_lasso_poly
    .named_steps.poly
    .get_feature_names_out(X_train.columns)
)
[poly_feature_names[i] for i in pipe_lasso_poly.named_steps.regressor.active_]

['year spend_m',
 'nights_000s sample',
 'nights_000s purpose_Holiday',
 'nights_000s duration_4-7 nights',
 'year sample',
 'nights_000s duration_8-14 nights',
 'sample country_Irish Republic',
 'year nights_000s',
 'nights_000s purpose_VFR',
 'sample country_China',
 'sample age_25-34',
 'sample mode_Sea',
 'year^2',
 'sample country_Norway',
 'spend_m age_25-34',
 'duration_8-14 nights',
 'country_China mode_Sea',
 'sample country_France',
 'nights_000s age_35-44',
 'year duration_4-7 nights',
 'sample country_Spain',
 'spend_m country_Irish Republic',
 'spend_m^2',
 'country_Poland mode_Sea',
 'country_Netherlands mode_Sea',
 'sample duration_4-7 nights',
 'nights_000s country_Italy',
 'country_Irish Republic duration_4-7 nights',
 'duration_4-7 nights^2',
 'year country_Italy',
 'year duration_15+ nights']

In [92]:
from sklearn.metrics import mean_squared_error,r2_score

y_pred = pipe_lasso_poly.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

# this is our RMSE

1.1169287277714093

In [93]:
r2_score(y_test, y_pred)

0.6855878439738943