In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import janitor
import numpy as np

int_data = pd.read_csv("../clean_data/int_data")

In [2]:
int_data.shape

(32082, 11)

In [3]:
int_data.describe()

               year   visits_000s   nights_000s       spend_m        sample
count  32082.000000  32082.000000  32082.000000  32082.000000  32082.000000
mean    2010.567047      1.439614     12.058341      0.877979      1.542516
std        5.002871      1.864941     29.706387      2.221832      1.433680
min     2002.000000      0.000088      0.001000      0.000000      1.000000
25%     2006.000000      0.430000      1.862780      0.105796      1.000000
50%     2011.000000      0.850000      4.620000      0.299705      1.000000
75%     2015.000000      1.707504     11.510000      0.828587      2.000000
max     2019.000000     69.044917   1284.176343     68.852170     25.000000

In [4]:
int_data.head()

,year,quarter,country,purpose,mode,duration,age,visits_000s,nights_000s,spend_m,sample
0,2002,Quarter 1,USA,Holiday,Air,4-7 nights,0-15,0.27,1.60,0.16,1
1,2002,Quarter 1,USA,Holiday,Air,4-7 nights,16-24,1.08,4.62,0.25,4
2,2002,Quarter 1,USA,Holiday,Air,4-7 nights,25-34,0.99,5.03,0.81,3
3,2002,Quarter 1,USA,Holiday,Air,4-7 nights,45-54,0.35,1.80,0.08,1
4,2002,Quarter 1,USA,Holiday,Air,4-7 nights,65+,1.66,10.09,0.62,1

In [5]:


int_data_dummies = pd.get_dummies(int_data, drop_first=True) # mae dummies for our categoric
int_data

,year,quarter,country,purpose,mode,duration,age,visits_000s,nights_000s,spend_m,sample
0,2002,Quarter 1,USA,Holiday,Air,4-7 nights,0-15,0.270000,1.600000,0.160000,1
1,2002,Quarter 1,USA,Holiday,Air,4-7 nights,16-24,1.080000,4.620000,0.250000,4
2,2002,Quarter 1,USA,Holiday,Air,4-7 nights,25-34,0.990000,5.030000,0.810000,3
3,2002,Quarter 1,USA,Holiday,Air,4-7 nights,45-54,0.350000,1.800000,0.080000,1
4,2002,Quarter 1,USA,Holiday,Air,4-7 nights,65+,1.660000,10.090000,0.620000,1
...,...,...,...,...,...,...,...,...,...,...,...
32077,2019,Quarter 4,Argentina,Holiday,Air,15+ nights,65+,1.575168,14.176511,0.897375,1
32078,2019,Quarter 4,Argentina,Other,Air,8-14 nights,25-34,0.631421,3.157103,0.228890,1
32079,2019,Quarter 4,Rest of Latin America,Holiday,Air,8-14 nights,25-34,2.243179,11.633949,0.877631,1
32080,2019,Quarter 4,Rest of Latin America,Holiday,Air,8-14 nights,45-54,0.550858,1.714171,0.135526,1
32081,2019,Quarter 4,Rest of Latin America,Holiday,Air,15+ nights,35-44,0.553057,1.147342,0.103797,1

In [6]:
# create our response array (univariate series)
response_var = int_data_dummies["spend_m"] # take out our response variable

# put our predictors in a dataframe
predictor_vars = int_data_dummies.drop(columns = "spend_m") # take response variable out of our df

In [7]:
predictor_vars

,year,visits_000s,nights_000s,sample,quarter_Quarter 2,quarter_Quarter 3,quarter_Quarter 4,country_Australia,country_Austria,country_Belgium,...,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,age_Not Known
0,2002,0.270000,1.600000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2002,1.080000,4.620000,4,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2,2002,0.990000,5.030000,3,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,2002,0.350000,1.800000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,2002,1.660000,10.090000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32077,2019,1.575168,14.176511,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
32078,2019,0.631421,3.157103,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
32079,2019,2.243179,11.633949,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
32080,2019,0.550858,1.714171,1,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
32081,2019,0.553057,1.147342,1,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [8]:
model = LinearRegression()

In [9]:
model.fit(predictor_vars, response_var)

LinearRegression()

In [10]:
model.score(predictor_vars, response_var)

0.5166616157798201

In [11]:
pd.DataFrame(
  {
  "Variable" : predictor_vars.columns.values,
  "Coefficient" : model.coef_
  }
)

             Variable  Coefficient
0                year     0.024796
1         visits_000s     0.500537
2         nights_000s     0.027581
3              sample     0.082644
4   quarter_Quarter 2     0.078713
..                ...          ...
83          age_35-44     0.164780
84          age_45-54     0.269241
85          age_55-64     0.276828
86            age_65+     0.295039
87      age_Not Known     0.023210

[88 rows x 2 columns]

In [12]:
import statsmodels.api as sm

# add in the constant to the data
predictor_vars = sm.add_constant(predictor_vars)
predictor_vars.head()

,const,year,visits_000s,nights_000s,sample,quarter_Quarter 2,quarter_Quarter 3,quarter_Quarter 4,country_Australia,country_Austria,...,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,age_Not Known
0,1.0,2002,0.27,1.60,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1.0,2002,1.08,4.62,4,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2,1.0,2002,0.99,5.03,3,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,1.0,2002,0.35,1.80,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,1.0,2002,1.66,10.09,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [13]:
sm_model = sm.OLS(response_var, predictor_vars).fit()
print(sm_model.summary()) # lets see our model summary

                            OLS Regression Results
==============================================================================
Dep. Variable:                spend_m   R-squared:                       0.517
Model:                            OLS   Adj. R-squared:                  0.515
Method:                 Least Squares   F-statistic:                     388.6
Date:                Fri, 07 Oct 2022   Prob (F-statistic):               0.00
Time:                        10:17:14   Log-Likelihood:                -59472.
No. Observations:               32082   AIC:                         1.191e+05
Df Residuals:                   31993   BIC:                         1.199e+05
Df Model:                          88
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                             -50.2764      3.612    -13.919      0.000     -57.356     -43.196
year                                0.0248      0.002     13.820      0.000       0.021       0.028
visits_000s                         0.5005      0.006     77.403      0.000       0.488       0.513
nights_000s                         0.0276      0.000     77.292      0.000       0.027       0.028
sample                              0.0826      0.008     10.730      0.000       0.068       0.098
quarter_Quarter 2                   0.0787      0.027      2.880      0.004       0.025       0.132
quarter_Quarter 3                   0.0792      0.026      3.022      0.003       0.028       0.131
quarter_Quarter 4                   0.0489      0.029      1.708      0.088      -0.007       0.105
country_Australia                   0.0545      0.155      0.352      0.725      -0.249       0.358
country_Austria                     0.1088      0.171      0.634      0.526      -0.227       0.445
country_Belgium                     0.0323      0.161      0.200      0.841      -0.283       0.348
country_Brazil                     -0.0082      0.185     -0.044      0.965      -0.370       0.354
country_Bulgaria                   -0.3925      0.256     -1.532      0.125      -0.895       0.110
country_C'wealth Caribbean          0.2401      0.211      1.138      0.255      -0.174       0.654
country_Canada                     -0.0069      0.155     -0.045      0.964      -0.311       0.298
country_China                       0.2423      0.167      1.452      0.147      -0.085       0.569
country_Czech Republic             -0.3975      0.182     -2.182      0.029      -0.755      -0.041
country_Denmark                    -0.0581      0.168     -0.346      0.729      -0.387       0.271
country_Egypt                       0.0665      0.237      0.281      0.779      -0.398       0.531
country_Finland                    -0.0336      0.185     -0.182      0.856      -0.396       0.329
country_Former Yugoslavia          -0.2249      0.215     -1.044      0.297      -0.647       0.197
country_France                     -0.1752      0.156     -1.125      0.261      -0.481       0.130
country_Germany                    -0.1852      0.154     -1.199      0.230      -0.488       0.118
country_Gibraltar/Malta/Cyprus      0.1706      0.187      0.914      0.361      -0.195       0.536
country_Greece                      0.0982      0.190      0.517      0.605      -0.274       0.470
country_Hong Kong                  -0.0023      0.170     -0.014      0.989      -0.336       0.332
country_Hungary                    -0.3555      0.192     -1.852      0.064      -0.732       0.021
country_Iceland                     0.0964      0.177      0.543      0.587      -0.251       0.444
country_India                      -0.1997      0.163     -1.226      0.220      -0.519       0.119
country_Irish Republic             -0.3536      0.158     -2.231      0.026      -0.664      -0.043
country_Israel                      0.0225      0.196      0.115      0.909      -0.361       0.406
country_Italy                      -0.2225      0.160     -1.390      0.165      -0.536       0.091
country_Japan                       0.0867      0.169      0.513      0.608      -0.245       0.418
country_Kenya                       0.3134      0.261      1.201      0.230      -0.198       0.825
country_Kuwait                      0.2148      0.219      0.982      0.326      -0.214       0.643
country_Luxembourg                  0.0788      0.232      0.339      0.735      -0.377       0.534
country_Malaysia                    0.0813      0.176      0.462      0.644      -0.263       0.426
country_Mexico                     -0.1609      0.217     -0.742      0.458      -0.586       0.264
country_Namibia                     0.1446      0.649      0.223      0.824      -1.128       1.418
country_Netherlands                -0.0764      0.156     -0.490      0.624      -0.382       0.229
country_New Zealand                 0.0682      0.163      0.419      0.676      -0.251       0.388
country_Nigeria                     0.3001      0.199      1.505      0.132      -0.091       0.691
country_Non CW C&S America          0.2654      0.538      0.494      0.622      -0.788       1.319
country_Norway                      0.0070      0.162      0.043      0.966      -0.310       0.324
country_Oth.E C'wealth Africa       0.1778      0.219      0.813      0.416      -0.251       0.607
country_Oth.Non C'Wealth Africa     0.3214      0.247      1.302      0.193      -0.163       0.806
country_Oth.W C'wealth Africa      -0.1440      0.345     -0.418      0.676      -0.819       0.531
country_Other E.Europe             -0.2741      0.171     -1.605      0.109      -0.609       0.061
country_Other Gulf States           0.3556      0.184      1.934      0.053      -0.005       0.716
country_Other Middle East           0.2629      0.225      1.171      0.242      -0.177       0.703
country_Other North Africa         -0.0701      0.283     -0.248      0.804      -0.624       0.484
country_Pakistan                   -0.0827      0.191     -0.434      0.664      -0.456       0.291
country_Poland                     -0.7957      0.163     -4.895      0.000      -1.114      -0.477
country_Portugal                   -0.0947      0.188     -0.505      0.614      -0.462       0.273
country_Rest of Asia                0.0943      0.237      0.398      0.691      -0.370       0.559
country_Rest of Latin America       0.0295      0.203      0.145      0.885      -0.369       0.428
country_Rest of SE Asia             0.1459      0.178      0.820      0.412      -0.203       0.495
country_Romania                    -0.3070      0.196     -1.562      0.118      -0.692       0.078
country_Russia                     -0.0307      0.177     -0.173      0.862      -0.377       0.316
country_Saudi Arabia                0.2900      0.195      1.483      0.138      -0.093       0.673
country_Singapore                   0.3380      0.175      1.934      0.053      -0.004       0.680
country_South Africa                0.0902      0.163      0.551      0.581      -0.230       0.411
country_South Korea                 0.4395      0.200      2.200      0.028       0.048       0.831
country_Spain                      -0.2303      0.158     -1.457      0.145      -0.540       0.080
country_Sweden                     -0.0818      0.162     -0.505      0.613      -0.399       0.236
country_Switzerland                 0.0787      0.163      0.484      0.628      -0.240       0.397
country_Taiwan                      0.0590      0.195      0.303      0.762      -0.323       0.441
country_Thailand                   -0.0439      0.187     -0.235      0.814      -0.410       0.322
country_Turkey                     -0.2924      0.206     -1.418      0.156      -0.697       0.112
country_USA                         0.2271      0.154      1.478      0.140      -0.074       0.528
country_United Arab Emirates        0.2645      0.164      1.618      0.106      -0.056       0.585
country_Venezuela                   0.6659      0.472      1.412      0.158      -0.259       1.590
country_Zimbabwe                    0.0101      0.330      0.031      0.976      -0.636       0.656
purpose_Holiday                    -0.1360      0.026     -5.192      0.000      -0.187      -0.085
purpose_Other                      -0.0173      0.045     -0.380      0.704      -0.106       0.072
purpose_Study                       0.2835      0.080      3.564      0.000       0.128       0.439
purpose_VFR                        -0.4308      0.027    -15.896      0.000      -0.484      -0.378
mode_Sea                           -0.2007      0.030     -6.737      0.000      -0.259      -0.142
mode_Tunnel                        -0.2662      0.051     -5.195      0.000      -0.367      -0.166
duration_15+ nights                 0.1184      0.032      3.674      0.000       0.055       0.182
duration_4-7 nights                 0.2211      0.027      8.323      0.000       0.169       0.273
duration_8-14 nights                0.2563      0.029      8.800      0.000       0.199       0.313
age_16-24                          -0.0585      0.050     -1.174      0.240      -0.156       0.039
age_25-34                           0.0424      0.047      0.902      0.367      -0.050       0.135
age_35-44                           0.1648      0.047      3.485      0.000       0.072       0.257
age_45-54                           0.2692      0.047      5.719      0.000       0.177       0.362
age_55-64                           0.2768      0.048      5.730      0.000       0.182       0.372
age_65+                             0.2950      0.052      5.652      0.000       0.193       0.397
age_Not Known                       0.0232      0.273      0.085      0.932      -0.512       0.558
==============================================================================
Omnibus:                    57599.818   Durbin-Watson:                   1.850
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        166042410.579
Skew:                          12.768   Prob(JB):                         0.00
Kurtosis:                     354.513   Cond. No.                     8.41e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.41e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

# Auto

In [14]:
int_data_dummies.head()

,year,visits_000s,nights_000s,spend_m,sample,quarter_Quarter 2,quarter_Quarter 3,quarter_Quarter 4,country_Australia,country_Austria,...,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,age_Not Known
0,2002,0.27,1.60,0.16,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2002,1.08,4.62,0.25,4,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2,2002,0.99,5.03,0.81,3,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,2002,0.35,1.80,0.08,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,2002,1.66,10.09,0.62,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [15]:
X = int_data_dummies.drop("spend_m", axis = 1)
y = int_data_dummies["spend_m"]

X.shape, y.shape

((32082, 88), (32082,))

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.3
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((22457, 88), (9625, 88), (22457,), (9625,))

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

pipe_linreg = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [18]:
y_train_predict = pipe_linreg.predict(X_train)
y_test_predict = pipe_linreg.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 0.6079196934620026
MAE test 0.6143081449774009

In [19]:
from sklearn.preprocessing import PolynomialFeatures

pipe_linreg_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 2, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg_poly.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [20]:
y_train_predict = pipe_linreg_poly.predict(X_train)
y_test_predict = pipe_linreg_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 0.5668769278513719
MAE test 503440774977.8967

In [21]:
from sklearn.linear_model import LassoLarsCV

pipe_lasso_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 2, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LassoLarsCV(max_iter=100))
])

pipe_lasso_poly.fit(X_train, y_train)

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLarsCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 50 iterations, i.e. alpha=3.431e-04, with an active set of 50 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 86 iterations, i.e. alpha=2.148e-04, with an active set of 82 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 73 iterations, i.e. alpha=2.368e-04, with an active set of 69 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 83 iterations, i.e. alpha=2.254e-04, with an active set of 79 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 80 iterations, i.e. alpha=2.011e-04, with an active set of 74 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LassoLarsCV(max_iter=100))])

In [22]:
y_train_predict = pipe_lasso_poly.predict(X_train)
y_test_predict = pipe_lasso_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 0.481048524790432
MAE test 0.49009063093428284

In [23]:
len(pipe_lasso_poly.named_steps.regressor.coef_)

4004

In [24]:
sum(pipe_lasso_poly.named_steps.regressor.coef_ != 0)

79

In [25]:
poly_feature_names = (
    pipe_lasso_poly
    .named_steps.poly
    .get_feature_names_out(X_train.columns)
)
[poly_feature_names[i] for i in pipe_lasso_poly.named_steps.regressor.active_]

['visits_000s nights_000s',
 'year visits_000s',
 'nights_000s sample',
 'year nights_000s',
 'visits_000s country_USA',
 'nights_000s duration_8-14 nights',
 'nights_000s duration_4-7 nights',
 'visits_000s age_45-54',
 'nights_000s country_Poland',
 'visits_000s quarter_Quarter 3',
 'nights_000s country_Other Gulf States',
 'nights_000s country_China',
 'visits_000s age_55-64',
 'visits_000s purpose_VFR',
 'nights_000s purpose_VFR',
 'nights_000s age_35-44',
 'visits_000s country_China',
 'nights_000s age_45-54',
 'visits_000s mode_Sea',
 'visits_000s country_Poland',
 'nights_000s age_65+',
 'visits_000s country_Australia',
 'quarter_Quarter 4 country_Norway',
 'visits_000s country_South Korea',
 'nights_000s country_Japan',
 'nights_000s country_Rest of SE Asia',
 'visits_000s country_Norway',
 'nights_000s country_Singapore',
 'nights_000s country_Turkey',
 'country_Singapore purpose_Study',
 'nights_000s country_Australia',
 'country_South Korea purpose_VFR',
 'visits_000s mode_Tunnel',
 'country_Gibraltar/Malta/Cyprus age_45-54',
 'visits_000s quarter_Quarter 4',
 'nights_000s country_Belgium',
 'nights_000s country_Denmark',
 'year duration_15+ nights',
 'country_USA purpose_VFR',
 'purpose_Study duration_15+ nights',
 'visits_000s country_Nigeria',
 'visits_000s country_United Arab Emirates',
 'nights_000s country_Irish Republic',
 'nights_000s country_Russia',
 'nights_000s country_Spain',
 'country_Denmark duration_15+ nights',
 'year',
 'visits_000s purpose_Study',
 'visits_000s country_Czech Republic',
 'country_Norway age_16-24',
 'sample duration_8-14 nights',
 'duration_4-7 nights age_16-24',
 'visits_000s country_Germany',
 'country_Venezuela age_45-54',
 'nights_000s country_Venezuela',
 'country_Nigeria age_35-44',
 'purpose_VFR duration_4-7 nights',
 'nights_000s country_Other E.Europe',
 'country_Gibraltar/Malta/Cyprus duration_4-7 nights',
 'nights_000s country_Czech Republic',
 'purpose_Study age_16-24',
 'nights_000s country_France',
 'country_Belgium purpose_Study',
 'country_France age_65+',
 'nights_000s country_Thailand',
 'mode_Sea',
 'country_Spain purpose_Other',
 'visits_000s country_Spain',
 'visits_000s age_65+',
 'country_South Korea age_45-54',
 'visits_000s country_Kenya',
 'country_Italy purpose_Study',
 'nights_000s country_Other Middle East',
 'quarter_Quarter 2 country_South Korea',
 'mode_Sea age_45-54',
 'quarter_Quarter 4 country_Kuwait',
 'nights_000s country_Hungary',
 'country_Other E.Europe age_35-44',
 'purpose_Holiday age_16-24']

In [26]:
from sklearn.metrics import mean_squared_error,r2_score

y_pred = pipe_lasso_poly.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

# this is our RMSE

1.5356541520688254

In [27]:
r2_score(y_test, y_pred)

0.5800407145543549