In [32]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import janitor
import numpy as np

int_data = pd.read_csv("../clean_data/int_data")
demo = pd.read_csv("../clean_data/tourism_day_visits_demographics.csv")

In [33]:
demo.shape

(308, 12)

In [34]:
demo.describe()

         date_code        value
count   308.000000   308.000000
mean   2016.000000   933.685065
std       2.003255  1306.514196
min    2013.000000    11.000000
25%    2014.000000    33.500000
50%    2016.000000   191.500000
75%    2018.000000  1346.750000
max    2019.000000  5995.000000

In [35]:
demo.head()

,date_code,units,value,breakdown_of_domestic_tourism,age,marital_status,gender,employment_status,children,access_to_car,social_grade,demo
0,2013,Million Visits,22,Visits,45-54 years,All,All,All,All,All,All,45-54 years
1,2013,Million Visits,58,Visits,All,All,Male,All,All,All,All,Male
2,2016,Million Visits,23,Visits,25-34 years,All,All,All,All,All,All,25-34 years
3,2019,Million Visits,56,Visits,All,Not Married,All,All,All,All,All,Not Married
4,2015,Million Visits,52,Visits,All,Not Married,All,All,All,All,All,Not Married

In [36]:
demo = demo[demo["breakdown_of_domestic_tourism"].str.contains("Visits")]
demo

,date_code,units,value,breakdown_of_domestic_tourism,age,marital_status,gender,employment_status,children,access_to_car,social_grade,demo
0,2013,Million Visits,22,Visits,45-54 years,All,All,All,All,All,All,45-54 years
1,2013,Million Visits,58,Visits,All,All,Male,All,All,All,All,Male
2,2016,Million Visits,23,Visits,25-34 years,All,All,All,All,All,All,25-34 years
3,2019,Million Visits,56,Visits,All,Not Married,All,All,All,All,All,Not Married
4,2015,Million Visits,52,Visits,All,Not Married,All,All,All,All,All,Not Married
...,...,...,...,...,...,...,...,...,...,...,...,...
302,2019,Million Visits,17,Visits,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
304,2018,Million Visits,15,Visits,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
305,2015,Million Visits,15,Visits,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
306,2013,Million Visits,46,Visits,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working
307,2016,Million Visits,11,Visits,All,All,All,Unemployed/not working,All,All,All,Unemployed/not working

In [37]:


demo_dummies = pd.get_dummies(demo, drop_first=True) # mae dummies for our categoric
demo_dummies

,date_code,value,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
0,2013,22,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,58,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2016,23,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,56,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2015,52,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,2019,17,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
304,2018,15,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
305,2015,15,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
306,2013,46,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
307,2016,11,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [38]:
# create our response array (univariate series)
response_var = demo_dummies["value"] # take out our response variable

# put our predictors in a dataframe
predictor_vars = demo_dummies.drop(columns = "value") # take response variable out of our df

In [39]:
predictor_vars

,date_code,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,gender_Female,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
0,2013,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2016,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,2015,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,2019,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
304,2018,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
305,2015,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
306,2013,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
307,2016,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [40]:
model = LinearRegression()

In [41]:
model.fit(predictor_vars, response_var)

LinearRegression()

In [42]:
model.score(predictor_vars, response_var)

0.9739425202886021

In [43]:
pd.DataFrame(
  {
  "Variable" : predictor_vars.columns.values,
  "Coefficient" : model.coef_
  }
)

                                             Variable   Coefficient
0                                           date_code  8.538961e-01
1                                     age_25-34 years -3.174040e+11
2                                     age_35-44 years  8.347295e+11
3                                     age_45-54 years  4.859944e+11
4                                     age_55-64 years  2.328664e+12
5                               age_65 years and over  4.819105e+12
6                                             age_All -3.353536e+11
7                              marital_status_Married -1.048061e+11
8                          marital_status_Not Married  4.903007e+10
9                                       gender_Female -1.362322e+12
10                                        gender_Male -2.092681e+11
11  employment_status_Employed/self-employed (full... -4.544318e+11
12   employment_status_In full or part time education  3.122541e+11
13           employment_status_Unemployed/not working  1.356450e+12
14                             children_No - Children  4.996266e+11
15                            children_Yes - Children -5.387891e+11
16                                  access_to_car_All  2.373154e+11
17                 access_to_car_No access to car (0) -2.173218e+11
18                                   social_grade_All  9.555266e+11
19                                    social_grade_C1  1.234135e+12
20                                    social_grade_C2  6.454401e+11
21                                    social_grade_DE  9.930317e+11
22                                   demo_25-34 years  3.174040e+11
23                                   demo_35-44 years -8.347295e+11
24                                   demo_45-54 years -4.859944e+11
25                                   demo_55-64 years -2.328664e+12
26                             demo_65 years and over -4.819105e+12
27                            demo_Access to car (1+)  5.726690e+11
28                                           demo_All  3.353536e+11
29    demo_Employed/self-employed (full or part time)  7.897855e+11
30                                        demo_Female  1.697675e+12
31                demo_In full or part time education  2.309955e+10
32                                          demo_Male  5.446217e+11
33                                       demo_Married  4.401597e+11
34                                 demo_No - Children -1.642730e+11
35                          demo_No access to car (0)  7.899908e+11
36                                   demo_Not Married  2.863236e+11
37                             demo_Social Grade - AB  1.290880e+12
38                             demo_Social Grade - C1  5.674550e+10
39                             demo_Social Grade - C2  6.454401e+11
40                             demo_Social Grade - DE  2.978485e+11
41                        demo_Unemployed/not working -1.021096e+12
42                                demo_Yes - Children  8.741428e+11

In [44]:
import statsmodels.api as sm

# add in the constant to the data
predictor_vars = sm.add_constant(predictor_vars)
predictor_vars.head()

,const,date_code,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
0,1.0,2013,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2013,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2016,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,2019,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
4,1.0,2015,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0

In [45]:
sm_model = sm.OLS(response_var, predictor_vars).fit()
print(sm_model.summary()) # lets see our model summary

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.974
Model:                            OLS   Adj. R-squared:                  0.970
Method:                 Least Squares   F-statistic:                     222.6
Date:                Thu, 06 Oct 2022   Prob (F-statistic):           1.20e-92
Time:                        14:08:35   Log-Likelihood:                -478.22
No. Observations:                 154   AIC:                             1002.
Df Residuals:                     131   BIC:                             1072.
Df Model:                          22
Covariance Type:            nonrobust
================================================================================================================================
                                                                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------------------
const                                                         -893.2641    249.415     -3.581      0.000   -1386.667    -399.861
date_code                                                        0.8539      0.236      3.620      0.000       0.387       1.321
age_25-34 years                                                 -0.7857      1.565     -0.502      0.616      -3.881       2.310
age_35-44 years                                                 -3.0714      1.565     -1.963      0.052      -6.167       0.024
age_45-54 years                                                 -4.1429      1.565     -2.648      0.009      -7.238      -1.047
age_55-64 years                                                 -1.8571      1.565     -1.187      0.237      -4.953       1.238
age_65 years and over                                           -1.4286      1.565     -0.913      0.363      -4.524       1.667
age_All                                                       -113.7773     41.989     -2.710      0.008    -196.842     -30.713
marital_status_Married                                          82.6743     21.003      3.936      0.000      41.125     124.223
marital_status_Not Married                                      71.9601     21.003      3.426      0.001      30.411     113.509
gender_Female                                                   79.0315     21.003      3.763      0.000      37.483     120.580
gender_Male                                                     75.6029     21.003      3.600      0.000      34.054     117.152
employment_status_Employed/self-employed (full or part time)    81.1743     21.003      3.865      0.000      39.625     122.723
employment_status_In full or part time education                50.8886     21.003      2.423      0.017       9.340      92.438
employment_status_Unemployed/not working                        53.1029     21.003      2.528      0.013      11.554      94.652
children_No - Children                                          92.5315     21.003      4.406      0.000      50.983     134.080
children_Yes - Children                                         62.1029     21.003      2.957      0.004      20.554     103.652
access_to_car_All                                             -458.6006    124.938     -3.671      0.000    -705.758    -211.443
access_to_car_No access to car (0)                            -173.2688     41.505     -4.175      0.000    -255.376     -91.162
social_grade_All                                              -343.3041    101.228     -3.391      0.001    -543.558    -143.051
social_grade_C1                                               -107.4063     29.656     -3.622      0.000    -166.072     -48.740
social_grade_C2                                               -115.8349     29.656     -3.906      0.000    -174.501     -57.169
social_grade_DE                                               -115.3349     29.656     -3.889      0.000    -174.001     -56.669
demo_25-34 years                                                -0.7857      1.565     -0.502      0.616      -3.881       2.310
demo_35-44 years                                                -3.0714      1.565     -1.963      0.052      -6.167       0.024
demo_45-54 years                                                -4.1429      1.565     -2.648      0.009      -7.238      -1.047
demo_55-64 years                                                -1.8571      1.565     -1.187      0.237      -4.953       1.238
demo_65 years and over                                          -1.4286      1.565     -0.913      0.363      -4.524       1.667
demo_Access to car (1+)                                       -261.3948     82.999     -3.149      0.002    -425.587     -97.202
demo_All                                                       221.7773     41.999      5.280      0.000     138.692     304.862
demo_Employed/self-employed (full or part time)                 81.1743     21.003      3.865      0.000      39.625     122.723
demo_Female                                                     79.0315     21.003      3.763      0.000      37.483     120.580
demo_In full or part time education                             50.8886     21.003      2.423      0.017       9.340      92.438
demo_Male                                                       75.6029     21.003      3.600      0.000      34.054     117.152
demo_Married                                                    82.6743     21.003      3.936      0.000      41.125     124.223
demo_No - Children                                              92.5315     21.003      4.406      0.000      50.983     134.080
demo_No access to car (0)                                     -173.2688     41.505     -4.175      0.000    -255.376     -91.162
demo_Not Married                                                71.9601     21.003      3.426      0.001      30.411     113.509
demo_Social Grade - AB                                        -211.3840     59.300     -3.565      0.001    -328.694     -94.074
demo_Social Grade - C1                                        -107.4063     29.656     -3.622      0.000    -166.072     -48.740
demo_Social Grade - C2                                        -115.8349     29.656     -3.906      0.000    -174.501     -57.169
demo_Social Grade - DE                                        -115.3349     29.656     -3.889      0.000    -174.001     -56.669
demo_Unemployed/not working                                     53.1029     21.003      2.528      0.013      11.554      94.652
demo_Yes - Children                                             62.1029     21.003      2.957      0.004      20.554     103.652
==============================================================================
Omnibus:                       62.946   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              264.435
Skew:                           1.468   Prob(JB):                     3.79e-58
Kurtosis:                       8.709   Cond. No.                     3.50e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.12e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# Auto

In [46]:
demo_dummies

,date_code,value,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
0,2013,22,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,58,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2016,23,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,56,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2015,52,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,2019,17,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
304,2018,15,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
305,2015,15,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
306,2013,46,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
307,2016,11,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [47]:
demo_dummies.head()

,date_code,value,age_25-34 years,age_35-44 years,age_45-54 years,age_55-64 years,age_65 years and over,age_All,marital_status_Married,marital_status_Not Married,...,demo_Married,demo_No - Children,demo_No access to car (0),demo_Not Married,demo_Social Grade - AB,demo_Social Grade - C1,demo_Social Grade - C2,demo_Social Grade - DE,demo_Unemployed/not working,demo_Yes - Children
0,2013,22,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2013,58,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2016,23,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,56,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2015,52,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0

In [48]:
X = demo_dummies.drop("value", axis = 1)
y = demo_dummies["value"]

X.shape, y.shape

((154, 43), (154,))

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.15
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((130, 43), (24, 43), (130,), (24,))

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

pipe_linreg = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [51]:
y_train_predict = pipe_linreg.predict(X_train)
y_test_predict = pipe_linreg.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 3.5311409701070304
MAE test 5.474993543300129

In [52]:
from sklearn.preprocessing import PolynomialFeatures

pipe_linreg_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 2, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LinearRegression())
])

pipe_linreg_poly.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LinearRegression())])

In [53]:
y_train_predict = pipe_linreg_poly.predict(X_train)
y_test_predict = pipe_linreg_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 5.287886232746688
MAE test 7.2196643785704095

In [54]:
from sklearn.linear_model import LassoLarsCV

pipe_lasso_poly = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy = "median")),
    ("poly", PolynomialFeatures(degree = 3, include_bias = False)),
    ("scaler", StandardScaler()),
    ("regressor", LassoLarsCV(max_iter=1000))
])

pipe_lasso_poly.fit(X_train, y_train)

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLarsCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 5 iterations, i.e. alpha=7.646e-01, with an active set of 5 regressors, and the smallest cholesky pivot element being 3.799e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=5.111e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 6.747e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=5.111e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 3.799e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=5.111e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 9.186e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=5.111e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 4.215e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=4.291e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 4.215e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=4.291e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 8.689e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=4.291e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 8.689e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=4.291e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 6.322e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 13 iterations, i.e. alpha=4.217e-01, with an active set of 13 regressors, and the smallest cholesky pivot element being 7.068e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 15 iterations, i.e. alpha=2.555e-01, with an active set of 13 regressors, and the smallest cholesky pivot element being 9.186e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 15 iterations, i.e. alpha=2.555e-01, with an active set of 13 regressors, and the smallest cholesky pivot element being 4.215e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 15 iterations, i.e. alpha=2.555e-01, with an active set of 13 regressors, and the smallest cholesky pivot element being 3.799e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 15 iterations, i.e. alpha=2.555e-01, with an active set of 13 regressors, and the smallest cholesky pivot element being 6.409e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 16 iterations, alpha=2.555e-01, previous alpha=2.555e-01, with an active set of 13 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 4 iterations, i.e. alpha=8.469e-01, with an active set of 4 regressors, and the smallest cholesky pivot element being 9.246e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=5.798e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=5.798e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 9.246e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=5.798e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 8.941e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=3.462e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=2.899e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=2.899e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 8.941e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=2.899e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 5.960e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=2.899e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=2.899e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 9.246e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=2.789e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 8.941e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=2.789e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 7.955e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 17 iterations, i.e. alpha=2.155e-01, with an active set of 15 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 19 iterations, i.e. alpha=1.906e-01, with an active set of 17 regressors, and the smallest cholesky pivot element being 8.878e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 19 iterations, i.e. alpha=1.906e-01, with an active set of 17 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 20 iterations, i.e. alpha=1.828e-01, with an active set of 18 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 20 iterations, i.e. alpha=1.828e-01, with an active set of 18 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 20 iterations, i.e. alpha=1.828e-01, with an active set of 18 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 23 iterations, i.e. alpha=1.578e-01, with an active set of 17 regressors, and the smallest cholesky pivot element being 5.162e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 24 iterations, i.e. alpha=1.563e-01, with an active set of 18 regressors, and the smallest cholesky pivot element being 4.712e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 24 iterations, i.e. alpha=1.563e-01, with an active set of 18 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 26 iterations, i.e. alpha=1.563e-01, with an active set of 20 regressors, and the smallest cholesky pivot element being 6.829e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 27 iterations, i.e. alpha=1.563e-01, with an active set of 21 regressors, and the smallest cholesky pivot element being 6.829e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 27 iterations, i.e. alpha=1.563e-01, with an active set of 21 regressors, and the smallest cholesky pivot element being 5.053e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 28 iterations, alpha=1.563e-01, previous alpha=1.563e-01, with an active set of 21 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 3 iterations, i.e. alpha=9.146e-01, with an active set of 3 regressors, and the smallest cholesky pivot element being 9.246e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=6.382e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 9.246e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=6.382e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 5.162e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=6.382e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 4.712e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=5.730e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 5.960e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=5.730e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 4.593e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=4.488e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=4.000e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=4.000e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 13 iterations, alpha=4.000e-01, previous alpha=4.000e-01, with an active set of 10 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 3 iterations, i.e. alpha=9.749e-01, with an active set of 3 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 6 iterations, i.e. alpha=7.163e-01, with an active set of 6 regressors, and the smallest cholesky pivot element being 6.495e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=7.160e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 6.495e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=7.160e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 5.053e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=7.160e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=6.889e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=6.889e-01, with an active set of 8 regressors, and the smallest cholesky pivot element being 6.909e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=5.115e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 4.470e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(

C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=5.071e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 4.081e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 11 iterations, i.e. alpha=4.940e-01, with an active set of 11 regressors, and the smallest cholesky pivot element being 7.146e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=4.875e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 7.451e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=4.875e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 3.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 18 iterations, i.e. alpha=3.582e-01, with an active set of 14 regressors, and the smallest cholesky pivot element being 6.495e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 18 iterations, i.e. alpha=3.582e-01, with an active set of 14 regressors, and the smallest cholesky pivot element being 5.771e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 18 iterations, i.e. alpha=3.581e-01, with an active set of 14 regressors, and the smallest cholesky pivot element being 5.771e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 20 iterations, alpha=3.581e-01, previous alpha=3.581e-01, with an active set of 15 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=8.018e-01, with an active set of 6 regressors, and the smallest cholesky pivot element being 4.829e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 8 iterations, i.e. alpha=8.018e-01, with an active set of 6 regressors, and the smallest cholesky pivot element being 4.470e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=8.017e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 4.829e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=8.017e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 4.470e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=8.017e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 4.942e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 10 iterations, alpha=8.017e-01, previous alpha=8.017e-01, with an active set of 7 regressors.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 5 iterations, i.e. alpha=6.579e-01, with an active set of 5 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 6 iterations, i.e. alpha=6.479e-01, with an active set of 6 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=6.476e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 7 iterations, i.e. alpha=6.476e-01, with an active set of 7 regressors, and the smallest cholesky pivot element being 4.712e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=4.733e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 9 iterations, i.e. alpha=4.733e-01, with an active set of 9 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=3.855e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 3.332e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=3.855e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 6.322e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 10 iterations, i.e. alpha=3.855e-01, with an active set of 10 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=3.290e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=3.290e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 2.581e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:652: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 12 iterations, i.e. alpha=3.290e-01, with an active set of 12 regressors, and the smallest cholesky pivot element being 5.268e-08. Reduce max_iter or increase eps parameters.
  warnings.warn(
C:\Users\neilp\anaconda3\lib\site-packages\sklearn\linear_model\_least_angle.py:682: ConvergenceWarning: Early stopping the lars path, as the residues are small and the current value of alpha is no longer well controlled. 15 iterations, alpha=3.240e-01, previous alpha=3.239e-01, with an active set of 14 regressors.
  warnings.warn(

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('poly', PolynomialFeatures(degree=3, include_bias=False)),
                ('scaler', StandardScaler()),
                ('regressor', LassoLarsCV(max_iter=1000))])

In [55]:
y_train_predict = pipe_lasso_poly.predict(X_train)
y_test_predict = pipe_lasso_poly.predict(X_test)
print("MAE train", mean_absolute_error(y_train, y_train_predict))
print("MAE test", mean_absolute_error(y_test, y_test_predict))

MAE train 11.261517940516772
MAE test 11.942354369092753

In [56]:
len(pipe_lasso_poly.named_steps.regressor.coef_)

15179

In [57]:
sum(pipe_lasso_poly.named_steps.regressor.coef_ != 0)

14

In [58]:
poly_feature_names = (
    pipe_lasso_poly
    .named_steps.poly
    .get_feature_names_out(X_train.columns)
)
[poly_feature_names[i] for i in pipe_lasso_poly.named_steps.regressor.active_]

['date_code^2 demo_All',
 'date_code age_All social_grade_All',
 'date_code^2 children_No - Children',
 'date_code^2 demo_Access to car (1+)',
 'date_code^2 age_All',
 'age_All access_to_car_All social_grade_All',
 'date_code children_No - Children',
 'employment_status_Unemployed/not working',
 'date_code^2 marital_status_Married',
 'date_code employment_status_In full or part time education',
 'children_Yes - Children',
 'children_No - Children',
 'date_code^2 employment_status_Employed/self-employed (full or part time)',
 'age_All']

In [59]:
from sklearn.metrics import mean_squared_error,r2_score

y_pred = pipe_lasso_poly.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

# this is our RMSE

13.930659422345276

In [60]:
r2_score(y_test, y_pred)

0.8319394325261107